In [1]:
import findspark
findspark.init()
findspark.find()

'C:\\Spark'

In [2]:
from pyspark.sql import SparkSession , Row

In [3]:
import collections

In [4]:
def ConvertRow(ligne):
    fields=ligne.split(',')
    return Row(ID=int(fields[0]),nom=str(fields[1].encode("utf-8")),age=int(fields[2]),NbAmis=int(fields[3]))

In [5]:
spark= SparkSession.builder.config("spark.sql.warehouse.dir","file:///C:/tmp").appName("FirstSample").getOrCreate() #spark.sql.warehouse.dir ?

In [6]:
lignes=spark.sparkContext.textFile("fakefriends.csv")

In [7]:
First=lignes.map(ConvertRow) #7awelnehom l ROW

In [8]:
SchemaPeople = spark.createDataFrame(First).cache() #pour definir le schema de mn dataFrame w nkhalou copie f ram(mÃ©moire vive)

In [9]:
SchemaPeople.createOrReplaceTempView("people") #7awelnehom l table

In [10]:
#create une requete SQL

In [11]:
query=spark.sql("SELECT * FROM people where age >=15 AND age <=20 ")

In [12]:
for people in query.collect():
    print(people)

Row(ID=21, NbAmis=268, age=19, nom="b'Miles'")
Row(ID=48, NbAmis=1, age=20, nom="b'Nog'")
Row(ID=52, NbAmis=269, age=19, nom="b'Beverly'")
Row(ID=54, NbAmis=5, age=19, nom="b'Brunt'")
Row(ID=60, NbAmis=100, age=20, nom="b'Geordi'")
Row(ID=73, NbAmis=384, age=20, nom="b'Brunt'")
Row(ID=106, NbAmis=499, age=18, nom="b'Beverly'")
Row(ID=115, NbAmis=397, age=18, nom="b'Dukat'")
Row(ID=133, NbAmis=265, age=19, nom="b'Quark'")
Row(ID=136, NbAmis=335, age=19, nom="b'Will'")
Row(ID=225, NbAmis=106, age=19, nom="b'Elim'")
Row(ID=304, NbAmis=404, age=19, nom="b'Will'")
Row(ID=327, NbAmis=63, age=20, nom="b'Julian'")
Row(ID=341, NbAmis=326, age=18, nom="b'Data'")
Row(ID=349, NbAmis=277, age=20, nom="b'Kasidy'")
Row(ID=366, NbAmis=119, age=19, nom="b'Keiko'")
Row(ID=373, NbAmis=272, age=19, nom="b'Quark'")
Row(ID=377, NbAmis=418, age=18, nom="b'Beverly'")
Row(ID=404, NbAmis=24, age=18, nom="b'Kasidy'")
Row(ID=409, NbAmis=267, age=19, nom="b'Nog'")
Row(ID=439, NbAmis=417, age=18, nom="b'Data'")
Row(ID=444, NbAmis=472, age=18, nom="b'Keiko'")
Row(ID=492, NbAmis=36, age=19, nom="b'Dukat'")
Row(ID=494, NbAmis=194, age=18, nom="b'Kasidy'")

In [13]:
type(people)

pyspark.sql.types.Row

In [16]:
SchemaPeople.groupBy("age").count().orderBy("age").show()

+---+-----+
|age|count|
+---+-----+
| 18|    8|
| 19|   11|
| 20|    5|
| 21|    8|
| 22|    7|
| 23|   10|
| 24|    5|
| 25|   11|
| 26|   17|
| 27|    8|
| 28|   10|
| 29|   12|
| 30|   11|
| 31|    8|
| 32|   11|
| 33|   12|
| 34|    6|
| 35|    8|
| 36|   10|
| 37|    9|
+---+-----+
only showing top 20 rows