In [3]:
from pyspark import SparkConf , SparkContext

In [2]:
import findspark
findspark.init('C:\\Spark')
findspark.find()

'C:\\Spark'

In [4]:
conf = SparkConf().setMaster ("local").setAppName("programme1")
sc = SparkContext (conf = conf)

In [9]:
def parseLine(line) :
    fields = line.split (',')
    pays =fields[3]
    return (pays,)

In [10]:
lines = sc.textFile("agents.csv")
rdd=lines.map(parseLine)
#number_employe=rdd.mapValues(lambda x:(x)).reduceByKey(lambda x ,y:(max(x,y))).sortByKey(ascending = False).collect()

In [13]:
number_employe = rdd.countByValue().sort()

AttributeError: 'collections.defaultdict' object has no attribute 'sort'

In [23]:
for word, count in number_employe.items():
    wordclean = word.encode('ascii','ignore')
    if (wordclean):
        print (wordclean.decode() + " " + str(count))

China 1812
Haiti 14
India 1733
Philippines 160
Nigeria 255
Mali 25
Thailand 111
Pakistan 315
Central African Republic 5
Tanzania 63
Ghana 42
Brazil 264
Turkey 103
Afghanistan 49
Indonesia 336
Uganda 56
Mexico 183
Ethiopia 120
Germany 114
Malaysia 54
United States 461
Chad 20
Switzerland 12
Iraq 46
Kenya 59
Netherlands 34
"Congo 123
Argentina 52
Russia 185
Egypt 110
Bangladesh 227
Rwanda 20
Algeria 54
Papua New Guinea 13
South Sudan 26
Sudan 60
"Korea 121
Benin 10
Mozambique 39
South Africa 69
Cote d'Ivoire 30
Canada 46
Syria 35
Burundi 24
Kazakhstan 29
Paraguay 9
Burma 71
Senegal 17
Uzbekistan 47
France 94
Vietnam 134
Turkmenistan 9
Angola 28
Japan 171
Ireland 5
Bosnia and Herzegovina 9
Austria 16
Malawi 30
Cameroon 30
Burkina Faso 19
Honduras 18
Chile 15
Eritrea 8
Peru 41
Denmark 8
Nepal 32
Spain 61
Colombia 70
Poland 50
Israel 6
Slovenia 2
Libya 9
Zimbabwe 26
Niger 28
Laos 6
Comoros 2
Sri Lanka 43
Azerbaijan 18
Madagascar 25
Finland 11
Costa Rica 5
Iran 119
Italy 59
Ukraine 48
Yemen 43
Zambia 24
Australia 33
Morocco 35
Equatorial Guinea 1
United Kingdom 104
Saudi Arabia 54
Venezuela 44
Cuba 11
Belarus 11
Taiwan 33
Bahrain 2
Serbia 9
Jordan 16
Guinea 15
Liberia 5
Bulgaria 9
Somalia 13
Armenia 4
Croatia 8
Dominican Republic 15
United Arab Emirates 9
Sweden 18
Lebanon 3
Nicaragua 12
Bolivia 9
Togo 6
Czech Republic 24
Guatemala 20
Bhutan 3
Romania 29
Portugal 12
Panama 7
Tajikistan 13
El Salvador 9
Lithuania 3
Mauritania 6
Djibouti 3
Cambodia 17
Ecuador 25
Norway 3
New Zealand 5
Singapore 8
Moldova 5
Hong Kong 6
Greece 12
Kyrgyzstan 10
Sierra Leone 6
Hungary 9
Belgium 11
Jamaica 3
Uruguay 5
Tunisia 8
Puerto Rico 4
Gaza Strip 2
Latvia 3
Oman 6
Macedonia 3
Albania 7
Mongolia 6
Georgia 7
Guinea-Bissau 2
Timor-Leste 1
Namibia 4
Cabo Verde 1
Montenegro 1
"Gambia 1
Lesotho 1
Slovakia 7
Suriname 2
Macau 1
Cyprus 1
Swaziland 1
Kosovo 1
Qatar 3
Kuwait 2
Guyana 2
Trinidad and Tobago 1
Mauritius 1
Botswana 1
French Polynesia 1
Estonia 1