In [1]:
import selenium
from selenium import webdriver as wb
import pandas as pd
import time
from tqdm import tqdm

In [2]:
df=pd.read_csv('listOflinks_tayara_voiture.csv')
listOflinks=df["listOflinks"].tolist()

In [3]:
len(listOflinks)

1044

In [4]:
def check_data(xpath):
    try:
        return wbD.find_element_by_xpath(xpath).text
    except:
        return ''

In [5]:
wbD=wb.Chrome('chromedriver.exe')
alldetails=[]
brand=""
model=""
def func(x):
    temp={}
    try:
        
        wbD.get(x)
        name = check_data('//*[@id="app"]/div[3]/div/span/div/div[3]/div/div[3]/div[1]/div[2]/div/h1')
        #print("--------------->",name)
    
        price= check_data('//*[@id="app"]/div[3]/div/span/div/div[3]/div/div[3]/div[1]/div[2]/div/h2[1]/span')
        #print("--------------->",price)
    
        mile_age= check_data('//*[@id="app"]/div[3]/div/span/div/div[3]/div/div[4]/div/div[2]/div/div/div/div[1]/div[2]/div/p')
        #print("--------------->",mile_age)
    
        make= check_data('//*[@id="app"]/div[3]/div/span/div/div[3]/div/div[4]/div/div[2]/div/div/div/div[3]/div[2]/div/p')
        #print("--------------->",make)
    
        model= check_data('//*[@id="app"]/div[3]/div/span/div/div[3]/div/div[4]/div/div[2]/div/div/div/div[4]/div[2]/div/p')
        #print("--------------->",model)
        
        year= check_data('//*[@id="app"]/div[3]/div/span/div/div[3]/div/div[4]/div/div[2]/div/div/div/div[2]/div[2]/div/p')
        #print("--------------->",year)
        
        fuel= check_data('//*[@id="app"]/div[3]/div/span/div/div[3]/div/div[4]/div/div[2]/div/div/div/div[5]/div[2]/div/p')
        #print("--------------->",fuel)
    
        power= check_data('//*[@id="app"]/div[3]/div/span/div/div[3]/div/div[4]/div/div[2]/div/div/div/div[6]/div[2]/div/p')
        #print("--------------->",power)
    
        transmission= check_data('//*[@id="app"]/div[3]/div/span/div/div[3]/div/div[4]/div/div[2]/div/div/div/div[7]/div[2]/div/p')
        #print("--------------->",transmission)
        
        engine_size= check_data('//*[@id="app"]/div[3]/div/span/div/div[3]/div/div[4]/div/div[2]/div/div/div/div[8]/div[2]/div/p')
        #print("--------------->",engine_size)
    
        description= check_data('/html/body/div[1]/div/span/div/div/div/div[3]/div/span/div/div[3]/div/div[4]/div/div[3]/div/div/p')
        #print("--------------->",description)
        print(name,"--",price,"--",mile_age,"--",make,"--",model,"--",power)
        print("*************************************")
        temp ={
            'name':name,
            'price':price,
            'mile_age':mile_age,
            'make':make,
            'model':model,
            'year':year,
            'fuel':fuel,
            'power':power,
            'transmission':transmission,
            'engine_size':engine_size,
            'description':description,
            'linkofproduct':i}
        
    except:
        print("eror while scraping this page !" ,x)
    
   
    
    alldetails.append(temp)
    
    return alldetails

In [ ]:
res=[]
for i in listOflinks:
    res.append(func(i))

In [10]:
df1 = pd.DataFrame(res[0])

In [ ]:
df1.to_csv('used_car_tayara.csv')

In [9]:
len(res[0])

1044

In [11]:
df1

,name,price,mile_age,make,model,fuel,power,transmission,engine_size,description,linkofproduct
0,voiture,0 DT,0,AC,Seven,Essence,23,Autre,Autres,üöòüöñüöõüöçüöúÿ™ÿ≠ÿ® ÿ™ÿ¥ÿ±Ÿä ŸÉÿ±Ÿáÿ®ÿ© ŸÖÿπ 3S LEASING SERVICE üöòüöóüöïüöñ...,https://www.tayara.tn/listings/voitures-9/fcee...
1,hyundai i10 sedan,0 DT,170000,Hyundai,Grand i10,Essence,5,Gris,Berline,Tel 20329598,https://www.tayara.tn/listings/voitures-9/9d48...
2,Volvo c30,0 DT,117,Volvo,C30,Essence,6,Blanc,Compacte,Volvo c30 tr√®s propre,https://www.tayara.tn/listings/voitures-9/49a0...
3,Mercedes,0 DT,340000,Mercedes-Benz,Classe ML,Diesel,11,4 x 4,Automatique,Tout option,https://www.tayara.tn/listings/voitures-9/fd38...
4,Citro√´n DS4,41‚ÄØ000 DT,131000,Citroen,DS4,Essence,7,Noir,Autres,"√Ä ventre une tr√®s belle Ds4,tr√®s propre ,moteu...",https://www.tayara.tn/listings/voitures-9/77bf...
...,...,...,...,...,...,...,...,...,...,...,...
1039,MERCEDES-BENZ CLASSE C,65‚ÄØ000 DT,174750,Mercedes-Benz,Classe C,Essence,9,Blanc,Automatique,Mise en circulation 02-2010,https://www.tayara.tn/listings/voitures-9/fa69...
1040,VW PASSAT TREND,68‚ÄØ000 DT,71000,Volkswagen,Passat,Essence,7,Beige,Manuelle,Mise en circulation 03-2016,https://www.tayara.tn/listings/voitures-9/1ba6...
1041,B9 tu 218 3place,38‚ÄØ500 DT,171000,Citroen,Berlingo,Diesel,5,Blanc,Autres,üöòCitro√´n Berlingo 3place,https://www.tayara.tn/listings/voitures-9/775d...
1042,AUDI A5 SPORTBACK,128‚ÄØ000 DT,105000,Audi,A5,Essence,8,Noir,Automatique,Mise en circulation 12-2017,https://www.tayara.tn/listings/voitures-9/9860...
1043,MAZDA 6,61‚ÄØ000 DT,133000,Mazda,6,Essence,9,Gris,Automatique,Mise en circulation 11-2015,https://www.tayara.tn/listings/voitures-9/90fc...

In [13]:
def func_year(x):
    try:
        wbD.get(x)
        year = check_data('//*[@id="app"]/div[3]/div/span/div/div[3]/div/div[4]/div/div[2]/div/div/div/div[2]/div[2]/div/p')
    except:
        print("eror while scraping this page !" ,x)
    return year

In [ ]:
res_year=[]
x=0
for i in listOflinks:
    res_year.append(func_year(i))
    print(func_year(i),'*****',x)
    x=x+1

In [17]:
res_year[5]

'2003'

In [18]:
df1['year']=res_year

In [20]:
df1.to_csv('used_car_tayara.csv')

In [31]:
df1['year'].value_counts()

2017      86
2016      85
2015      72
2010      71
2011      52
          ..
555555     1
11         1
34500      1
1335       1
1984       1
Name: year, Length: 73, dtype: int64