In [ ]:
import pandas as pd
df=pd.read_csv("https://cocl.us/sanfran_crime_dataset")
df = df.groupby(['PdDistrict']).size().reset_index(name='count')
df

SOUTHERN      28445
NORTHERN      20100
MISSION       19503
CENTRAL       17666
BAYVIEW       14303
INGLESIDE     11594
TARAVAL       11325
TENDERLOIN     9942
RICHMOND       8922
PARK           8699
Name: PdDistrict, dtype: int64

In [49]:
ms=pd.DataFrame(counts)
ms.head()

,SOUTHERN,NORTHERN,MISSION,CENTRAL,BAYVIEW,INGLESIDE,TARAVAL,TENDERLOIN,RICHMOND,PARK
PdDistrict,28445,20100,19503,17666,14303,11594,11325,9942,8922,8699

In [55]:
df = df.groupby(['PdDistrict']).size().reset_index(name='count')
df

   PdDistrict  count
0     BAYVIEW  14303
1     CENTRAL  17666
2   INGLESIDE  11594
3     MISSION  19503
4    NORTHERN  20100
5        PARK   8699
6    RICHMOND   8922
7    SOUTHERN  28445
8     TARAVAL  11325
9  TENDERLOIN   9942